{% extends 'base.html' %}
{% load static %}

{% block head-part %}
<link rel="stylesheet" href="{% static '' %}">
{% endblock %}

{% block header-other-half %}
<div class="container">
    <div class="row">
        <div class="col">
            <a href="#">login</a>
        </div>
    </div>
</div>
{% endblock %}

{% block body-part %}
<div class="container">
    <div class="row">
        <div class="col">

            <form action="" method="POST">
                <div class="input-group">
                    <input id="userid" placeholder="UserID" type="text">
                </div>
                <input id="send_otp" class="btn btn-sm btn-primary " value="Send OTP" type="submit">
            </form>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="" method="POST" style='display:initial'>
                <div class="input-group">
                    <input id="userid" placeholder="UserID" type="text">
                </div>
                <input id="Resend_OTP" class="btn btn-sm btn-danger" value="Resend OTP" type="submit">
            </form>
            <form action="" method="POST">
                <div class="input-group">
                    <input id="userid" placeholder="UserID" type="text">
                    <input id="otp" placeholder="Enter OTP" type="password">
                </div>
                <input id="verify" class="btn btn-sm btn-primary " value="Verify OTP" type="submit">

            </form>
        </div>
    </div>
</div>
{% endblock %}