{% extends 'base.html' %}
{% load static %}

{% block head-part %}
<link rel="stylesheet" href="{% static 'users/css/forgotpassword.css' %}">
{% endblock %}

{% block header-other-half %}
<div class="container">
    <div class="row">
        <div class="col mt-4 pt-1  mr-4 pr-5 text-align ">
            <a href="{% url 'users:login-view' %}">
                <text class="logincolor" style="font-size:1.8vw;">Login</text>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block body-part %}
<div class="container pb-5">
    {% if not sent_otp %}
    <div class="row ml-5 my-5 pt-2 pl-5">
        <div class="col-12 pl-5 ml-5">
            <div style="text-align:center" class="ml-5 pl-5">
                <div class="card card-bg" style="width: 35rem; height:12rem">
                    <div class="card-header card_head_color pt-2">
                        <text class="active_txt">Enter UserID</text>
                    </div>
                    <div class=" card-body py-3 mt-3 pb-4">
                        <form action="{% url 'users:forgot-password-view' %}" method="POST">
                            {% csrf_token %}
                            <div class="pb-3">
                                {{ otpform.userid }}
                            </div>
                            <input id="send_otp" class="btn btn-sm btn-primary " value="Send OTP" type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 pl-4">
        <div class="col-12">
            <div style="text-align:center" class="">
                {% if errors %}
                <div class="alert alert-danger alert-dismissible fade show" style="width:fit-content; margin: 0 auto;" role="alert">
                    <strong><span>{{ errors }}</span></strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="row ml-5 my-5 pt-2 pl-5">
        <div class="col-12 pl-5 ml-5">
            <div style="text-align:center" class="ml-5 pl-5">
                <div class="card card-bg" style="width: 35rem; height:17rem">
                    <div class="card-header card_head_color pt-2">
                        <text class="active_txt">Enter OTP and Verify</text>
                    </div>
                    <div class=" card-body py-3 mt-3">
                        <form action="{% url 'users:verify-otp-view' %}" method="POST">
                            {% csrf_token %}
                            <div class="pb-3">
                                {{ verify_otpform.otp }}
                            </div>
                            <input id="verify" class="btn btn-sm btn-primary " value="Verify OTP" type="submit">
                        </form>
                        <div class="resend-otp" id="resend-otp-button" style="width: fit-content; display:none;">
                            <form action="{% url 'users:resend-otp-view' %}" method="POST" style="padding-top: 20px;">
                                {% csrf_token %}
                                <input id="Resend_OTP" class="btn btn-sm btn-danger " value="Resend OTP" type="submit">
                            </form>
                        </div>
                        <div>
                            <strong style="padding-top: 10px; margin-top: 10px;">
                                <span class="timer_msg"></span>
                            </strong>
                        </div>
                        <script>
                            document.addEventListener('DOMContentLoaded', () => {
                                var seconds = 30;
                                var foo;
                                function fadeInButton() {
                                    document.querySelector(".timer_msg").innerHTML = "";
                                    document.getElementById("resend-otp-button").style.display = "initial";
                                }
                                function updateSecs() {
                                    document.querySelector(".timer_msg").innerHTML = "Resend OTP option appears in " + seconds + "s.";
                                    seconds--;
                                    if (seconds == -1) {
                                        clearInterval(foo);
                                        fadeInButton();
                                    }
                                }
                                function countdownTimer() {
                                    foo = setInterval(function () {
                                        updateSecs()
                                    }, 1000);
                                }
                                countdownTimer();
                            });
                        
                        </script>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div style="text-align:center">
                {% if resend_otp %}
                    {% if not otp_status %}
                    <div class="alert alert-success alert-dismissible fade show" style="width:fit-content; margin: 0 auto;" role="alert">
                        <strong><span>OTP re-sent successfully on your registered mobile number!!</span></strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                {% else %}
                    {% if not otp_status %}
                    <div class="alert alert-success alert-dismissible fade show" style="width:fit-content; margin: 0 auto;" role="alert">
                        <strong><span>OTP sent successfully on your registered mobile number.</span></strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                {% endif %}
                {% if otp_status %}
                <div class="alert alert-danger alert-dismissible fade show" style="width:fit-content; margin: 0 auto;" role="alert">
                    <strong><span>{{ otp_status }}</span></strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}