{% extends 'base.html' %}
{% load static %}

{% block head-part %}
<link rel="stylesheet" href="{% static 'users/css/forgotpassword.css' %}">
{% endblock %}

{% block header-other-half %}
<div class="container">
    <div class="row">
        <div class="col mt-4 pt-1  mr-4 pr-5 text-align ">
            <a href="{% url 'users:login-view' %}">
                <text class="logincolor" style="font-size:1.8vw;">Login</text>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block body-part %}
<div class="container pb-5">
    {% if not sent_otp %}
    <div class="row ml-5 my-5 pt-2 pl-5">
        <div class="col-12 pl-5 ml-5">
            <div style="text-align:center" class="ml-5 pl-5">
                <div class="card card-bg" style="width: 35rem; height:12rem">
                    <div class="card-header card_head_color pt-2">
                        <text class="active_txt">Enter UserID</text>
                    </div>
                    <div class=" card-body py-3 mt-3 pb-4">
                        <form action="{% url 'users:forgot-password-view' %}" method="POST">
                            {% csrf_token %}
                            <div class="pb-3">
                                {{ otpform.userid }}
                                <!-- <input id="userid" placeholder="UserID" class="input_align" size=40 type="text"> -->
                            </div>
                            <input id="send_otp" class="btn btn-sm btn-primary " value="Send OTP" type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ml-5 mt-4 pl-5 ">
        <div class="col-12 pl-5 ml-5">
            <div style="text-align:center" class="ml-5 pl-5">
                {% if errors %}
                {{ errors }}
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="row ml-5 my-5 pt-2 pl-5">
        <div class="col-12 pl-5 ml-5">
            <div style="text-align:center" class="ml-5 pl-5">
                <div class="card card-bg" style="width: 35rem; height:17rem">
                    <div class="card-header card_head_color pt-2">
                        <text class="active_txt">Enter OTP and Verify</text>
                    </div>
                    <div class=" card-body py-3 mt-3 pb-4">
                        <form action="{% url 'users:verify-otp-view' %}" method="POST">
                            {% csrf_token %}
                            <!-- <div class="pb-3">
                                <input id="userid" placeholder="UserID" class="input_align" size=40 type="text">
                            </div> -->
                            <div class="pb-3">
                                {{ verify_otpform.otp }}
                                <!-- <input id="otp" placeholder="Enter OTP" class="input_align" size=40 type="password"> -->
                            </div>
                            <input id="verify" class="btn btn-sm btn-primary " value="Verify OTP" type="submit">
                        </form>
                        <form action="{% url 'users:resend-otp-view' %}" method="POST">
                            {% csrf_token %}
                            <!-- <div class="pb-3">
                                <input id="userid" placeholder="UserID" class="input_align" size=40 type="text">
                            </div> -->
                            <input id="Resend_OTP" class="btn btn-sm btn-danger " value="Resend OTP" type="submit">
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row ml-5 mt-4 pl-5 ">
        <div class="col-12 pl-5 ml-5">
            <div style="text-align:center" class="ml-5 pl-5">
                <!-- <div class="card card-bg mb-5" style="width: 35rem; height:15rem">
                    <div class="card-header card_head_color pt-2">
                        <text class="active_txt">Enter OTP sent to your mobile number</text>
                    </div>
                    <div class=" card-body py-3 mt-3 pb-4">
                        <form action="" method="POST">
                            <div class="pb-3">
                                <input id="userid" placeholder="UserID" class="input_align" size=40 type="text">
                            </div>
                            <div class="pb-3">
                                <input id="otp" placeholder="Enter OTP" class="input_align" size=40 type="password">
                            </div>
                            <input id="verify" class="btn btn-sm btn-primary " value="Verify OTP" type="submit">
                        </form>
                    </div>
                </div> -->
                {% if resend_otp %}
                {% if not otp_status %}
                <span>OTP re-sent successfully on your registered mobile number!!</span>
                {% endif %}
                {% else %}
                {% if not otp_status %}
                <span>OTP sent successfully on your registered mobile number.</span>
                {% endif %}
                {% endif %}
                {% if otp_status %}
                <span>{{ otp_status }}</span>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}