{% extends 'base.html' %}
{% load static %}

{% block head-part %}
<link rel="stylesheet" href="{% static 'users/css/demo.css' %}">
{% endblock %}

{% block body-part %}
    {% if logout_msg %}
    {{ logout_msg }}
    {% endif %}
<h2>Login Form</h2>
<form action="{% url 'users:user-validation-view' %}" method="POST">
  {% csrf_token %}

  <div class="container">
    {{ form.userid }}
    {{ form.psw }}
    {% if errors %}
      {{errors}}
    {% endif %}
    <button class="btn btn-lg btn-primary btn-sm" type="submit">Login</button>
  </div>

</form>

<div class="container">
  <span> <a href="{% url 'users:forgot-password-view' %}"> Forgot password?</a></span>
</div>

{% endblock %}