{% extends 'base.html' %}
{% load static %}

{% block head-part %}

{% endblock %}

{% block header-other-half %}
<div class="container">
  <div class="row">
    <div class="col">
      <a href='{% url "users:view-profile-view" %}'>
        {{ username }}
      </a>
    </div>
    <div class="col">
      <a href="{% url 'users:logout-view' %}">logout</a>
    </div>
  </div>
</div>

{% endblock %}

{% block body-part %}

<div class="container bg-light">
  <div class="row">
    <div class="col">
      <form class="form-inline" action="{% url 'users:search-result-view' %}" method="GET">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
        {{ searchform.searchbox }}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <img src="https://img.icons8.com/material-outlined/20/000000/search.png" />
        </button>
      </form>
    </div>
  </div>
</div>

{% if booklist %}

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Book ID</th>
      <th scope="col">Book Name</th>
      <th scope="col">Author Name</th>
      <th scope="col">Edition</th>
      <th scope="col">Copies Available</th>
      <th scope="col">Shelf</th>
      <th scope="col">Dept</th>
    </tr>
  </thead>
  <tbody>
    {% for tuple in booklist %}
      <tr>
        <td scope="col">{{ tuple.bookid }}</td>
        <td scope="col">{{ tuple.bookname }}</td>
        <td scope="col">{{ tuple.author }}</td>
        <td scope="col">{{ tuple.edition }}</td>
        <td scope="col">{{ tuple.copies }}</td>
        <td scope="col">{{ tuple.shelf }}</td>
        <td scope="col">{{ tuple.dept|upper }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <span> Sorry, No books found for your query search.</span>
{% endif %}


<div>
  <button type="submit">Return to home page</button>
</div>

{% endblock %}