{% extends 'base.html' %}
{% load static %}

{% block head-part %}
<link rel="stylesheet" href="{% static 'users/css/searchresult.css' %}">
{% endblock %}

{% block header-other-half %}
<div class="container">
  <div class="row m-4 p-2 ">
    <div class="col text-align ml-5">
      <a href='{% url "users:view-profile-view" %}'>
        <text class="rollno-color ">{{ username }}</text>
      </a>
    </div>

    <div class="col lout-text-align ">
      <a href="{% url 'users:logout-view' %}">
        <text class="logoutcolor">Logout</text>
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block body-part %}

<div class="container-fluid">
  <div class="row m-3 px-3 pt-2">
    <div class="col pl-5">
      <form action="{% url 'users:search-result-view' %}" method="GET">
        {{ searchform.searchbox }}
        <!-- <input type="search" class="form-bg" id="profile" placeholder="     Search Book"> -->
        <input type="submit" class="search-button" value="">
      </form>
    </div>
  </div>

  <div class="row pt-1 px-5">
    <div class="col-12 px-5">
      <div style="max-height: 400px;overflow-y: scroll; overflow-x: hidden;">
        {% if booklist %}
        <table class="table table-color">
          <thead>
            <tr>
              <th scope="col">Book ID</th>
              <th scope="col">Book Name</th>
              <th scope="col">Author Name</th>
              <th scope="col">Edition</th>
              <th scope="col">Copies Available</th>
              <th scope="col">Shelf</th>
              <th scope="col">Dept</th>
            </tr>
          </thead>
          <tbody>
            {% for tuple in booklist %}
            <tr>
              <td scope="col">{{ tuple.bookid }}</td>
              <td scope="col">{{ tuple.bookname }}</td>
              <td scope="col">{{ tuple.author }}</td>
              <td scope="col">{{ tuple.edition }}</td>
              <td scope="col">{{ tuple.copies }}</td>
              <td scope="col">{{ tuple.shelf }}</td>
              <td scope="col">{{ tuple.dept|upper }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <span> Sorry, No books found for your query search.</span>
        {% endif %}
      </div>
    </div>
  </div>

</div>

<div class="container returnbtn ">
  <div class="row mt-4  " style="text-align:center">
    <div class="col">
      {% if user.isLibrarian %}
      <a href="{% url 'librarian:home-page-view' %}"><button type="submit">Return to home page</button></a>
      {% else %}
      <a href="{% url 'student:home-page-view' %}"><button type="submit">Return to home page</button></a>
      {% endif %}
    </div>
  </div>
</div>


{% endblock %}