{% extends 'base.html' %}
{% load static %}

{% block head-part %}
<link rel="stylesheet" href="{% static 'users/css/setpassword.css' %}">
{% endblock %}

{% block header-other-half %}
<div class="container">
    <div class="row">
        <div class="col mt-4 pt-1  mr-4 pr-5 text-align ">
            <a href="{% url 'users:login-view' %}">
                <text class="logincolor" style="font-size:1.8vw;">Login</text>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block body-part %}
<div class="container form-align">
    <div class="row ml-5 mt-5 pl-5">
        <div style="text-align:center" class="ml-5 mt-5 pl-5">
            <div class="card card-bg" style="width: 45rem;">
                <div class="card-header card_head_color pt-4">
                    <text class="active_txt">Set Password</text>
                </div>
                <div class=" card-body pt-4 mt-3 pb-4">
                    <form class="form " action="{% url 'users:update-password-view' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="form_txt">Enter New Password &emsp;</label>
                            <!-- <input type="password" id="inputPasswordNew" required=""> -->
                            {{ pswform.psw1 }}
                        </div>

                        <div class="form-group">
                            <label class="form_txt">Retype New Password &nbsp;</label>
                            <!-- <input type="password" id="RetypePasswordNew" required=""> -->
                            {{ pswform.psw2 }}
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}