{% extends 'base.html' %}
{% load static %}

{% block head-part %}
<link rel="stylesheet" href="{% static '' %}">
{% endblock %}

{% block header-other-half %}
<div class="container">
    <div class="row">
        <div class="col">
            <a href="#">login</a>
        </div>
    </div>
</div>
{% endblock %}

{% block body-part %}

<div class="card card-outline-secondary">
    <div class="card-header col-lg-4">
        <h3>Set Password</h3>
    </div>
    <div class="card-body col-lg-4">
        <form class="form ">
            <div class="form-group">
                <label>Enter New Password</label>
                <input type="password" id="inputPasswordNew" required="">
            </div>

            <div class="form-group">
                <label>Retype New Password</label>
                <input type="password" id="RetypePasswordNew" required="">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}