{% extends 'base.html' %}
{% load static %}

{% block head-part %}
<link rel="stylesheet" href="{% static '' %}">
{% endblock %}

{% block header-other-half %}
<div class="container">
    <div class="row">
        <div class="col">
            <a href='#'>
                <span>{{ username }}</span>
            </a>
        </div>
        <div class="col">
            <a href="{% url 'users:logout-view' %}">logout</a>
        </div>
    </div>
</div>

{% endblock %}


{% block body-part %}
{% if not isLibrarian %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="profile-img">
                <img src="{% static profileImage %}" alt="profile-image" style="width:25%; height:25%;" />
            </div>
        </div>
        <div class="col">
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{ student.name }}</td>
                    </tr>
                    <tr>
                        <td>Roll Number</td>
                        <td>{{ student.studid }}</td>
                    </tr>
                    <tr>
                        <td>Email ID</td>
                        <td>{{ student.email }}</td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td>{{ student.phone }}</td>
                    </tr>
                    <tr>
                        <td>Academic Year</td>
                        <td>{{ student.academicyear }}</td>
                    </tr>
                    <tr>
                        <td>Section</td>
                        <td>{{ student.section }}</td>
                    </tr>
                    <tr>
                        <td>Amount Paid till now</td>
                        <td>{{ student.amountpaid }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <a href="{% url 'student:home-page-view' %}"><button class='btn btn-primary'>Return to Home Page</button></a>
        </div>
    </div>
</div>

{% else %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="profile-img">
                <img src="{% static profileImage %}" alt="profile-image" />
            </div>
        </div>
        <div class="col">
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{ librarian.name }}</td>
                    </tr>
                    <tr>
                        <td>User ID</td>
                        <td>{{ librarian.libid }}</td>
                    </tr>
                    <tr>
                        <td>Email ID</td>
                        <td>{{ librarian.email }}</td>
                    </tr>
                    <tr>
                        <td>Number Of Books Issued</td>
                        <td>{{ librarian.issuedcount }}</td>
                    </tr>
                    <tr>
                        <td>Number Of Books Retrieved</td>
                        <td>{{ librarian.retrievedcount }}</td>
                    </tr>
                    <tr>
                        <td>Total number of Actions</td>
                        <td>{{ librarian.totalactions }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <a href="{% url 'librarian:home-page-view' %}"><button class='btn btn-primary'>Return to Home Page</button></a>
            <a href="{% url 'librarian:send-notifications-view' %}"><button class='btn btn-danger'>Send Mail Notifications</button></a>
        </div>
    </div>
</div>




{% endif %}
{% endblock %}