{% extends 'base.html' %}
{% load static %}

{% block head-part %}
<link rel="stylesheet" href="{% static 'student/css/homepage.css' %}">
{% endblock %}

{% block bg-part %}
style="background:transparent url('{% static 'users/images/hologram.png' %}') no-repeat fixed center center / 40% 70%"
{% endblock %}

{% block header-other-half %}
<div class="container">
    <div class="row m-4 p-2 ">
        <div class="col text-align ml-5">
            <a href='{% url "users:view-profile-view" %}'>
                <text class="rollno-color ">{{ username }}</text>
            </a>
        </div>

        <div class="col lout-text-align ">
            <a href="{% url 'users:logout-view' %}">
                <text class="logoutcolor">Logout</text>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block body-part %}

<div class="container-fluid">
    <div class="row m-3 px-3 pt-2">
        <div class="col pl-5">
            <form action="{% url 'users:search-result-view' %}" method="GET">
                {{ searchform.searchbox }}
                <!-- <input type="search" class="form-bg" id="book" placeholder="     Search Book"> -->
                <input type="submit" class="search-button" value="">
            </form>
        </div>
    </div>
    <div class="row pt-1 px-5 ">
        <text class="active_txt pl-5">Active Books</text>
        <div class="col-12 px-5">
            <table class="table table_color table-hover">
                <thead>
                    <tr>
                        <th scope="col">Book ID</th>
                        <th scope="col">Book Name</th>
                        <th scope="col">Book Issue Date</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Paynow</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in activebooks %}
                    <tr>
                        <td scope="col">{{ row.bookid }}</td>
                        <td scope="col">{{ row.bookname }}</td>
                        <td scope="col">{{ row.timestamp }}</td>
                        <td scope="col">{{ row.duedate }}</td>
                        <td scope="col">{{ row.amountdue }}</td>
                        <td scope="col"><a href="pay/{{ row.bookid }}/"><button>Paynow</button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if paystatus %}
    <p>{{ paystatus }}</p>
    {% endif %}

    <div class="row pt-1 px-5 pb-5">
        <text class="active_txt pl-5">Transactions</text>
        <div class="col-12 px-5">
            <table class="table table-color">
                <thead>
                    <tr>
                        <th scope="col">Time Stamp</th>
                        <th scope="col">Book ID</th>
                        <th scope="col">Book Name</th>
                        <th scope="col">Copies Available</th>
                        <th scope="col">Type</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in actionhistory %}
                    <tr>
                        <th scope="col">{{ row.timestamp }}</th>
                        <td scope="col">{{ row.bookid }}</td>
                        <td scope="col">{{ row.bookname }}</td>
                        <td scope="col">{{ row.copies }}</td>
                        <td scope="col">{{ row.ttype }}</td>
                        <td scope="col">{{ row.amount }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}