{% extends 'base.html' %}
{% load static %}

{% block head-part %}
<link rel="stylesheet" href="{% static '' %}">
{% endblock %}

{% block header-other-half %}
<div class="container">
    <div class="row">
        <div class="col">
            <a href='{% url "users:view-profile-view" %}'>
                <span>{{ username }}</span>
            </a>
        </div>
        <div class="col">
            <a href="{% url 'users:logout-view' %}">logout</a>
        </div>
    </div>
</div>

{% endblock %}

{% block body-part %}

<div class="container bg-light">
    <div class="row">
        <div class="col">
            <form class="form-inline" action="{% url 'users:search-result-view' %}" method="GET">
                {{ searchform.searchbox }}
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <img src="https://img.icons8.com/material-outlined/20/000000/search.png" />
                </button>
            </form>
        </div>
    </div>
</div>

<div>
    <h3>Active Books</h3>
    <table class="table table-secondary">
        <thead>
            <tr>
                <!-- <th scope="col">S.no</th> -->
                <th scope="col">Book ID</th>
                <th scope="col">Book Issue Date</th>
                <th scope="col">Due Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Paynow</th>
            </tr>
        </thead>
        <tbody>
            {% for row in activebooks %}
            <tr>
                <!-- <th scope="col">{{ row.id }}</th> -->
                <td scope="col">{{ row.bookid }}</td>
                <td scope="col">{{ row.timestamp }}</td>
                <td scope="col">{{ row.duedate }}</td>
                <td scope="col">{{ row.amountdue }}</td>
                <td scope="col"><a href="pay/{{ row.bookid }}/"><button>Paynow</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if paystatus %}
    <p>{{ paystatus }}</p>
{% endif %}

<div>
    <h3>Transactions</h3>
    <table class="table table-secondary">
        <thead>
            <tr>
                <th scope="col">Time Stamp</th>
                <th scope="col">Book ID</th>
                <th scope="col">Book Name</th>
                <th scope="col">Copies Available</th>
                <th scope="col">Type</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for row in actionhistory %}
            <tr>
                <th scope="col">{{ row.timestamp }}</th>
                <td scope="col">{{ row.bookid }}</td>
                <td scope="col">{{ row.bookname }}</td>
                <td scope="col">{{ row.copies }}</td>
                <td scope="col">{{ row.ttype }}</td>
                <td scope="col">{{ row.amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}