{% extends 'base.html' %}
{% load static %}

{% block head-part %}
<link rel="stylesheet" href="{% static 'librarian/css/homepage.css' %}">
{% endblock %}

{% block bg-part %}
style="background:transparent url('{% static 'users/images/hologram.png' %}') no-repeat fixed center center / 40% 70%"
{% endblock %}

{% block header-other-half %}
<div class="container">
    <div class="row m-4 p-2 ">
        <div class="col text-align ml-5">
            <a href='{% url "users:view-profile-view" %}'>
                <text class="rollno-color ">{{ username }}</text>
            </a>
        </div>

        <div class="col lout-text-align ">
            <a href="{% url 'users:logout-view' %}">
                <text class="logoutcolor">Logout</text>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block body-part %}
<div class="container-fluid ">
    <div class="row m-3 pt-2">
        <div class="col-6 pl-5">
            <form action="{% url 'librarian:student-profile-view' %}" method="GET">
                {{ studentprofileform.searchprofile }}
                <input type="submit" class="search-button" value="">
            </form>
        </div>
        <div class="col-6 pr-5 ">
            <form action="{% url 'users:search-result-view' %}" method="GET">
                {{ searchform.searchbox }}
                <input type="submit" class="search-button" value="">
            </form>
        </div>
    </div>
</div>

<div class="container-fluid ml-5 pl-5">
    <div class="row ">
        <div class="col-8 ">
            <div style="height:500px; overflow-y: scroll; overflow-x: hidden;" class="scrol">
                <div class="row ">
                    <div class="col-12">
                        {% block student-profile %}
                        {% endblock %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 mr-5  pr-5 ">
                        <text class="card_txt ">Book Issue</text>
                        <div class="card shadow" style="width:27rem;">
                            <div class="card-body card_b_color border border-5 border-dark" style="text-align:center">
                                <form class="form" action="{% url 'librarian:issue-book-view' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ bookactionform.rollno }}
                                    </div>

                                    <div class="form-group">
                                        {{ bookactionform.bookid }}
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-sm mb-1">
                                        <h5>Issue</h5>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="ml-5"></div>
                    <div class="col-5 mr-5  pr-5">

                        <text class="card_txt_2 pl-3">Book Retrieval</text>
                        <div class="card shadow " style="width:27rem;">
                            <div class="card-body card_b_color border border-5  border-dark" style="text-align:center">
                                <form class="form " action="{% url 'librarian:submit-book-view' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ bookactionform.rollno }}
                                    </div>

                                    <div class="form-group">
                                        {{ bookactionform.bookid }}
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-md">
                                        <h5>Submit</h5>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        {% if issue_error %}
                        <div class="alert alert-danger alert-dismissible fade show card-pos" style="width:fit-content; margin: 0 auto;" role="alert">
                            <strong>{{ issue_error }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                        {% if submit_error %}
                        <div class="alert alert-danger alert-dismissible fade show card-pos" style="width:fit-content; margin: 0 auto;" role="alert">
                            <strong>{{ submit_error }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                        {% if mail_notification %}
                        <div class="alert alert-success alert-dismissible fade show card-pos" style="width:fit-content; margin: 0 auto;" role="alert">
                            <strong>{{ mail_notification }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row px-3 mt-4">
                    <text class="trans_txt">Transactions</text>
                    <table class="table table_control">
                        <thead>
                            <tr>
                                <th scope="col">Time Stamp</th>
                                <th scope="col">Librarian ID</th>
                                <th scope="col">Student Roll no</th>
                                <th scope="col">Book ID</th>
                                <th scope="col">Book Name</th>
                                <th scope="col">Copies Available</th>
                                <th scope="col">Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for instance in transactions %}
                            <tr>
                                <td scope="col">{{ instance.timestamp }}</td>
                                <td scope="col">{{ instance.libid }}</td>
                                <td scope="col">{{ instance.studid }}</td>
                                <td scope="col">{{ instance.bookid }}</td>
                                <td scope="col">{{ instance.bookname }}</td>
                                <td scope="col">{{ instance.copies }}</td>
                                <td scope="col">{{ instance.ttype }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4 pl-4 ">
            <div class="container">
                <text class="dash_txt">Dashboard</text>
                <div class="card-deck text-center ">
                    <div class="card dashboardcard">
                        <div class="card-body">
                            <div>
                                <text class="num_txt">{{ dashboard.totalbooks }}</text>
                                <br><text class="num_txt2">Total Books</text>
                            </div>
                            <div class="pt-3 mt-3">
                                <text class=" num_txt">{{ dashboard.booksinside }}</text>
                                <br><text class="num_txt2">Books Inside</text>
                            </div>
                            <div class="pt-3 mt-3">
                                <text class="num_txt"> {{ dashboard.issuedbooks }}</text>
                                <br><text class="num_txt2">Books Issued</text>
                            </div>
                            <div class="pt-3 mt-3">
                                <text class="num_txt">{{ dashboard.submittedbooks }}</text>
                                <br><text class="num_txt2">Books Submitted</text>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}