{% extends 'base.html' %}
{% load static %}

{% block head-part %}
<link rel="stylesheet" href="{% static '' %}">
{% endblock %}

{% block header-other-half %}
<div class="container">
    <div class="row">
        <div class="col">
            <a href='{% url "users:view-profile-view" %}'>
                <span>{{ username }}</span>
            </a>
        </div>
        <div class="col">
            <a href="{% url 'users:logout-view' %}">logout</a>
        </div>
    </div>
</div>

{% endblock %}

{% block body-part %}

<div class="container bg-light">
    <div class="row">
        <div class="col">
            <form class="form-inline" action="{% url 'librarian:student-profile-view' %}" method="GET">
                {{ studentprofileform.searchprofile }}
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <img src="https://img.icons8.com/material-outlined/20/000000/search.png" />
                </button>
            </form>
        </div>
        <div class="col">
            <form class="form-inline" action="{% url 'users:search-result-view' %}" method="GET">
                {{ searchform.searchbox }}
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <img src="https://img.icons8.com/material-outlined/20/000000/search.png" />
                </button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        {% block student-profile %}
                        {% endblock %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-outline-secondary">
                            <div class="card-header ">
                                <h3>Book Issue</h3>
                            </div>
                            <div class="card-body">
                                <form class="form" action="{% url 'librarian:issue-book-view' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group" >
                                        <!-- <input type="text" id="stdid" placeholder="Enter Roll No" required=""> -->
                                        {{ bookactionform.rollno }}
                                    </div>

                                    <div class="form-group">
                                        <!-- <input type="text" id="bookid" placeholder="Enter Book ID" required=""> -->
                                        {{ bookactionform.bookid }}
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success btn-lg float-right">Issue</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card card-outline-secondary">
                            <div class="card-header ">
                                <h3>Book Retrieval</h3>
                            </div>
                            <div class="card-body">
                                <form class="form " method="POST" action="{% url 'librarian:submit-book-view' %}">
                                    {% csrf_token %}

                                    <div class="form-group">
                                        <!-- <input type="text" id="stdid" placeholder="Enter Roll No" required=""> -->
                                        {{ bookactionform.rollno }}
                                    </div>

                                    <div class="form-group">
                                        <!-- <input type="text" id="bookid" placeholder="Enter Book ID" required=""> -->
                                        {{ bookactionform.bookid }}
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success btn-lg float-right">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% if issue_error %}
                            <p>{{ issue_error }}</p>
                        {% endif %}
                        {% if submit_error %}
                            <p>{{ submit_error }}</p>
                        {% endif %}
                        {% if mail_notification %}
                            <p>{{ mail_notification }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <h4>Dashboard</h4>
                <span> {{ dashboard.totalbooks }} </span>
                <p>Total Books</p>
                <span> {{ dashboard.booksinside }} </span>
                <p>Books Inside</p>
                <span> {{ dashboard.issuedbooks }} </span>
                <p>Books Issued</p>
                <span> {{ dashboard.submittedbooks }} </span>
                <p>Books Submitted</p>
            </div>
        </div>
    </div>
</div>

<div>
    <h3>Transactions</h3>
    <table class="table table-secondary">
        <thead>
            <tr>
                <th scope="col">Time Stamp</th>
                <th scope="col">Librarian ID</th>
                <th scope="col">Student Roll no</th>
                <th scope="col">Book ID</th>
                <th scope="col">Book Name</th>
                <th scope="col">Copies Available</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody>
            {% for instance in transactions %}
            <tr>
                <td scope="col">{{ instance.timestamp }}</td>
                <td scope="col">{{ instance.libid }}</td>
                <td scope="col">{{ instance.studid }}</td>
                <td scope="col">{{ instance.bookid }}</td>
                <td scope="col">{{ instance.bookname }}</td>
                <td scope="col">{{ instance.copies }}</td>
                <td scope="col">{{ instance.ttype }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}