{% extends 'librarian/homepage.html' %}

{% block student-profile %}
<div class="container border border-dark">
    <div class="row border">
        <div class="col">
            <img src="" alt="profile-image" />
        </div>
        <div class="col">
            <table>
                <tbody>
                    <tr>
                        <td>
                            Name:
                        </td>
                        <td>
                            Kari Vijaya
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Roll Number:
                        </td>
                        <td>
                            17131A0591
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-secondary">
                <thead>
                    <tr>
                        <td>S.No</td>
                        <td>Book ID</td>
                        <td>Issue Date</td>
                        <td>Due Date</td>
                        <td>Amount</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}