.active_txt {
    font-size: 25px;
    font-family: Roboto;
    font-weight: 600;
    color: black;
    font-style: bold;
}


.card-bg {
    background: #a7bbce;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.card_head_color {
    background: #8da7c2;
}

/* .input_align {
    text-align: center;
    background: rgba(255, 255, 255, 0.46);
    border: 1px solid #000000;
    border-radius: 4px;
} */


.logincolor {
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
}

.align-item {
    float: none;
    margin: 16 auto;
}

.text-align {
    align-items: center;
    text-align: right;
}