.active_txt {
    font-size: 29px;
    font-family: Roboto;
    font-weight: 600;
    color: black;
    font-style: bold;
}

.card-bg {
    background: #E8E8EB;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.card_head_color {
    background: #d0d0e0;
}

.form-align {
    align-items: center;
    text-align: center;
}

.form_txt {
    font-size: 14px;
    font-weight: 500;
    color: black;
    font-style: normal;
}

.logincolor {
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
}

.text-align {
    align-items: center;
    text-align: right;
}